html, body {
    margin: 0;
    padding: 0;
}

.marker-cluster {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

#search-banner, #date-banner {
    position: fixed;
    left: 0;
    width: 33.33%;
    max-width: 33.33%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 10px;
    z-index: 2;
    overflow: hidden;
    transition: max-width 0.5s ease-in-out;
}

#search-banner {
    top: 60px;
    height: 50px;
}

#date-banner {
    top: 0;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

/* Define the collapsed state of the banners */
#search-banner.collapsed, #date-banner.collapsed {
    max-width: 0;
}

/* Style the collapse button */
.collapse-button {
    position: absolute; /* Position the button absolutely within the banner */
    right: 10px; /* Position the button 10px from the right edge of the banner */
    /* Add your styles for the button */
}

/* Style the collapse button when the banner is collapsed */
#search-banner.collapsed .collapse-button, #date-banner.collapsed .collapse-button {
    /* Add your styles for the button in the collapsed state */
}

#map {
    height: 100%;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    background: #808080;
}

#search-input {
    flex-grow: 1;
    margin-right: 20px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    width:33.33%;
}

#search-button {
    padding: 5px 10px;
    margin-left:auto;
    border: none;
    background-color: rgba(76, 247, 224);
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

#search-button:hover {
    background-color: rgba(76, 247, 224, 0.7);
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0; /* Position on the right */
    width: 0; /* Collapsed by default */
    height: 100%; /* Full height */
    overflow-y: auto; /* Add scroll if necessary */
    background-color: rgba(76, 247, 224, 0.7);
    transition: width 0.4s ease-in-out; /* Smooth transition */
    z-index: 2;
}