<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
</head>
<body>
    <button id="permit-filters-button" class="permit-filters-button">Permit Filters</button>
    <div id="left-sidebar">
        <button id="left-sidebar-close">X</button>
        <h2>Filter Options</h2>
        <h4>Search</h4>
        <input id="search-input"> <!-- Search input -->
        <button id="search-button">Search</button> <!-- Search button -->
        <h4>Affiliate Type</h4>
        <select id="type-filter">
            <option value="">All</option>
            <option value="student">student</option>
            <option value="employee">employee</option>
            <!-- Add more options as needed -->
        </select>
        <br>
        <h4>Select Date Range</h4>
        <input type="date" id="start-date">
        <input type="date" id="end-date">
        <button id="date-filter-button">Filter</button>
    </div>
    <div id="map"></div>
    <div id="right-sidebar"></div> <!-- Data will be inserted here -->
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>