<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
</head>
<body>
    <div id="banner">
        <input id="search-input" type="text" placeholder="Search...">
        <button id="search-button">Search</button>
    </div>
    <div id="map" style="height: 600px;"></div>
    <div id="sidebar"></div>        <!-- Data will be inserted here -->
    </div>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script></body>
</html>